@model WebApiEFModel.BRAND

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BRAND</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SUPPLIER.DSC_SUPPLIER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPPLIER.DSC_SUPPLIER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DSC_BRAND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DSC_BRAND)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_BRAND }) |
    @Html.ActionLink("Back to List", "Index")
</p>
